<object id="svgId" class="svgClass" type="image/svg+xml" data="/images/background2.svg"></object>

<div class="container">

  <div class="left">
    <h3>What do you want to do?</h3>
  </div>

  <div class="right">
    <form>
      <select id="option" class="dropdown">
        <option value="stream">Stream</option>
        <option value="eat">Eat</option>
        <option value="listen">Listen</option>
        <option value="nothing">Nothing</option>
      </select>
    </form>
  </div>

  <div class="left">
    <h3>How are you feeling?</h3>
  </div>

  <div class="right">
    <form>
      <select id="mood" class="dropdown">
        <option value="dreamy">Dreamy</option>
        <option value="happy">Happy</option>
        <option value="angry">Angry</option>
        <option value="sad">Sad</option>
        <option value="stressed">Stressed</option>
        <option value="weird">Weird</option>
        <option value="bored">Bored</option>
      </select>
    </form>
  </div>

  <div class="full">
    <button type="submit" class="submit" id="optionSubmit">
      Submit
    </button>
  </div>