<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/style/style.css" type="text/css" />
  <title>What do you want to do?</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/public/assets/js/js.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{{ body }}}
</body>

</html>