<div class="title"></div>

<div class="container">
  {{#each this}}
  <div class="results resEat">
      <a class="resultLink" href="{{{link}}}"><h4>{{recipeName}}</h4></a>
  </div>
  {{/each}}

  <div class="suggestion">
    <a class="showSuggestion">Suggest a recipe</a>

    <div id="suggestion">
      <form>
        <input data-option="eat" type="search" placeholder="suggestion" class="suggestInput"></input>
        <button type="submit" id="suggestSubmit">Submit</button>
      </form>
    </div>
  </div>
</div>