<div class="container">
  <div class="row">
    <div class="right">
      <h3>What do you want to do?</h3>
    </div>
    <div class="left">
      <select id="mood" class="dropdown">
        <option value="stream">Stream</option>
        <option value="eat">Eat</option>
        <option value="music">Listen</option>
        <option value="nothing">Nothing</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="right">
      <h3>How are you feeling?</h3>
    </div>
    <div class="left">
      <select id="option" class="dropdown">
        <option value="happy">Dreamy</option>
        <option value="afraid">Happy</option>
        <option value="angry">Angry</option>
        <option value="disgusted">Sad</option>
        <option value="stressed">Stressed</option>
        <option value="weird">Weird</option>
        <option value="bored">Bored</option>
      </select>
    </div>
  </div>
  <div class="row">
     <button type="submit" class="submit" id="optionSubmit">
    Submit</button>

  </div>
</div>