<div class="title"></div>

<div class="container">

  
    {{#each this}}
    <div class="result">
      <h4 class="resultTitle">{{songName}}</h4>
      <p class="resultP">{{artist}}</p>
      <img src="{{{artistImage}}}">
      <a class="resultLink" href="{{{url}}}">Listen on Last.fm</a>
    </div>
    {{/each}}
  
  <div class="suggestion">
    <a class="showSuggestion">Suggest a song</a>

    <div id="suggestion">
      <form>
        <input data-option="listen" type="search" placeholder="Artist" class="suggestInput" id="suggestInputArtist"></input>
        <input data-option="listen" type="search" placeholder="Song" class="suggestInput" id="suggestInputSong"></input>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

</div>