<object id="svgId" class="svgClass" type="image/svg+xml" data="/images/background2.svg"></object>
<div class="title"></div>


<div class="container">

  <div class="results">
    {{#each this}}
      <img src="{{imageURL}}" class="giphy"> 
    {{/each}}
  </div>

</div>