<div class="title">
  <form>
    <h1>/</h1>
    <select id="mood" class="dropdown2">
      <option value="stream">Stream</option>
      <option value="eat">Eat</option>
      <option value="music">Listen</option>
      <option value="nothing">Nothing</option>
    </select>
    <h1>/</h1>
    <select id="option" class="dropdown2">
      <option value="happy">Dreamy</option>
      <option value="afraid">Happy</option>
      <option value="angry">Angry</option>
      <option value="disgusted">Sad</option>
      <option value="stressed">Stressed</option>
      <option value="weird">Weird</option>
      <option value="bored">Bored</option>
    </select>
    <button type="submit" class="submit" id="pageSubmit">
      Submit
    </button>
  </form>

</div>

<div class="container">

  <div class="results" id="resultsCarousel">
    {{#each this}}
    <div>
      <h4>{{showName}}</h4>
      <img src="{{image URL}}">
      <a href="{{link}}">Watch on {{service}}</a>
    </div>
    {{/each}}
  </div>

  <a href="#" class="showSuggestion">ADD A SUGGESTION</a>

  <div class="suggestion">
      <form>
        <input data-option="stream" type="search" placeholder="suggest a tv show" class="suggestInput"></input>
        <button type="submit" id="suggestSubmit">Submit</button>
      </form>
  </div>

</div>