<object id="svgId" class="svgClass" type="image/svg+xml" data="/images/background2.svg"></object>
<div class="title"></div>

<div class="container">

  <div>
    {{#each this}}
    <div>
      <h4>{{showName}}</h4>
      <img src={{{imageURL}}} class="resultImg">
      <a href="{{link}}">Watch on {{service}}</a>
    </div>
    {{/each}}
  </div>

  
  <a href="#" class="showSuggestion">ADD A SUGGESTION</a>

  <div class="suggestion">
    <form>
      <input data-option="stream" type="search" placeholder="suggest a tv show" id="suggestInput"></input>
      <button type="submit" id="suggestSubmit">Submit</button>
    </form>
  </div>

</div>