<div class="title"></div>

<div class="container">
  {{#each this}}
  <div class="result">
    <h4 class="resultTitle">{{showName}}</h4>
    <img class="resultImg" src={{{imageURL}}}>
    <a class="resultLink" href="{{{link}}}">Watch on {{service}}</a>
  </div>
  {{/each}}

  <div class="suggestion">
    <a class="showSuggestion">Suggest something to watch</a>

    <div id="suggestion">
      <form>
        <input data-option="stream" type="search" placeholder="suggestion" class="suggestInput"></input>
        <button type="submit" id="suggestSubmit">Submit</button>
      </form>
    </div>
  </div>
</div>
