<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/reset.css" type="text/css" />
  <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  <title>What do you want to do?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  {{{ body }}}

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/js.js"></script>
</body>

</html>