// variables
// fonts
$font-main: 'Open Sans', sans-serif;
$font-accent: 'Biryani', sans-serif;

// colors
$color-dark: #333333;
$color-light: #f7f7f7;
$color-accent: #aaaaaa;
$color-grad-dark: #234aee;
$color-grad-light: #e9e9e9;

// responsive mixins
@mixin for-phone-only {
  @media (max-width: 599px) {  @content;  } 
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; } 
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; } 
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {  @content; } 
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {  @content;  } 
}

@mixin full-width-div {
  width: 100%;
  height: auto;
  text-align: center;
  order:1;
  @content;
}

@mixin title-style ($color) {
  font-family: $font-accent;
  font-weight: 800;
  color: $color;
  font-size: 10vw;
  line-height: 12vw ;
  margin-top: 1vw;
  margin-bottom: 1vw;
  @include for-tablet-portrait-up() {
    font-size: 6vw;
    line-height: 8vw;
  }
  
  @include for-tablet-landscape-up() {
    font-size: 5vw;
    line-height: 6vw;
  }
  @content;
}

@mixin large-text-style ($color, $color2) {
  font-family: $font-main;
  font-weight: 600;
  color: $color;
  background-color: $color2;
  font-size: 6vw;
  line-height: 8vw ;
  @content;
  @include for-tablet-portrait-up() {
    font-size: 4vw;
    line-height: 5vw;
  }
  
  @include for-tablet-landscape-up() {
    font-size: 3vw;
    line-height: 4vw;
  }
}

* {
  font-family: $font-main;
  font-size: 20px;
  box-sizing: border-box;
  @include for-tablet-landscape-up() {
    font-size: 24px;
  }
}

a {
  color: $color-dark;
}
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(../images/bgindex.svg);
}

h3 {
  @include title-style($color-dark);
}

h1 {
  @include title-style($color-dark){
    display: inline;
    margin: 0 20px 0 20px;
  }
}

h4{
  @include large-text-style($color-dark, none){
    margin-bottom:10px;
  }
}

.svgClass {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  z-index: -1;
}

.container{
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  background-clip: content-box;
  background-color:rgba(247,247,247,0.85);
  text-align: center;

  @include for-tablet-portrait-up() {
    padding: 40px;
  }

  @include for-tablet-landscape-up() {
    flex-flow: row wrap;
    padding: 100px 100px 100px 100px;
  }
}

#indexContainer {
  margin-top: 50px;
}

.titleRes {
  display: block;
  @include for-tablet-landscape-up() {
    display: inline;
  }
}

.right{
  @include full-width-div();
  @include for-tablet-landscape-up() {
    width: 25%;
    margin: auto;
  }
}

.left{
  @include full-width-div() {
    margin-top: 20px;
  }
  
  @include for-tablet-landscape-up() {
    width: 75%;
    text-align: right;
  }
}

.full {
  width: 75%;
  margin: 40px auto auto auto;
  order: 2;
  text-align: center;

  @include for-tablet-landscape-up() {
    width: 100%;
    margin: 60px auto auto auto ;
  }
}

.result {
  text-align:center;
  margin-bottom: 20px;
  margin: auto;
  min-width: 350px;
}
.resEat {
 width: 100%;
}

.resultTitle {
  display: block;
}

.resultImg {
  max-width: 350px;
  display: block;
  margin:auto;
}
.giphy {
  margin-bottom: 10px;

  @include for-tablet-portrait-up() {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.resultLink {
  display: block;
}


.title {
  margin: 0 0 20px 0;
}

.suggestion {
  margin-top: 40px;
  padding: 40px;
  text-align:center;
}

#resultCarousel {
  text-align:center;
  width: 75%;
}

.suggestion {
  width: 100%;
}
#suggestion {
  display: none;
  width: 100%;
}

#optionSubmit {
  width: 100%;
  border: 2px solid $color-dark;
  text-align: center;
  margin-bottom: 20px;
  @include large-text-style($color-dark, $color-light);

  @include for-tablet-landscape-up() {
    width: 75%;
    margin-bottom: 30px;
  }
}

#pageSubmit {
  border: 2px solid $color-dark;
  text-align: center;
  margin: 0 0 0 20px;
  @include large-text-style($color-dark, $color-light)
}

#suggestSubmit {
  border: 2px solid $color-dark;
  text-align: center;
  width: 100%;
  @include large-text-style($color-dark, $color-light);
  @include for-tablet-landscape-up() {
    width: auto;
  }
}

.dropdown{
  border: 2px solid $color-dark;
  width: 75%;
  @include large-text-style($color-light, $color-dark)
}
option {
  text-align: center;
}

.dropdown2{
  border: 2px solid $color-dark;
  @include large-text-style($color-light, $color-dark);
}

.suggestInput{
  border: 2px solid $color-dark;
  width: 100%;
  @include large-text-style($color-light, $color-dark);
  @include for-tablet-landscape-up() {
    width: auto;
  }
}